# ---> Go
# Сборочные файлы
bin/
build/
*.exe
*.dll
*.so
*.dylib

# Кеш модуля Go
pkg/

main

# Конфигурационные файлы IDE/редакторов
.idea/
.vscode/
*.swp

# Файлы тестов
*.test
*.out
coverage/

# Файлы ОС
.DS_Store
Thumbs.db

# Ключи и сертификаты
config/
mock-oauth-server/config.json
*.pem
*.key
*.crt

# Личные данные, логины, пароли
*.env
.env.*

.envright


# Логи и временные файлы
*.log
temp/
tmp/

.work
.sum
# Если есть специфичные настройки
# custom_config.yml
# secrets.yaml